@{
  Layout = "_Layout";
}
<div class="container">
 <img src="http://www.crimsonphilly.com/wp-content/uploads/sites/989/2015/03/slider1.jpg" alt="picture of hair salon" height="200" width="600">
<h1>Welcome to the Eau Claire's Salon</h1>
<p>@Html.ActionLink("See  the list of all stylists", "Index", "Stylist")</p>
<hr>
<p>@Html.ActionLink("See the list of Stylists and their Clients", "Index", "Client")</p>
<hr>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
