@{
  Layout = "_Layout";
}
<div class="container">
@model HairSalon.Models.Stylist

<h1>Add a new Stylist</h1>
<hr>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class="form-control"})
    <hr>
    <input type="submit" value="Add new Stylist" />
}
<hr>
<p>@Html.ActionLink("Show all Stylist", "Index")</p>
</div>